<!DOCTYPE html>
<html lang="ru">

<head>

    <meta charset="utf-8">
    <!-- <base href="/"> -->

    <title>in-site</title>
    <meta name="description" content="">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Template Basic Images Start -->
    <meta property="og:image" content="path/to/image.jpg">
    <link rel="icon" href="/img/favicon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon-180x180.png">
    <!-- Template Basic Images End -->

    <!-- Custom Browsers Color Start -->
    <meta name="theme-color" content="#000">
    <!-- Custom Browsers Color End -->

    <link rel="stylesheet" href="/css/main.min.css">
    <link rel="stylesheet" href="/css/plaza.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600,700|Open+Sans" rel="stylesheet">

    <script src="https://b24go.com/form/v3/leadinsite.bitrix24.ru/form.js" async></script>
</head>

<body>

<header class="header">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col">
                <div class="logo">
                    <img src="/img/logo.png" alt="alt">
                </div>
            </div>
            <div class="col-12 col-sm tl-right">
                <a href="tel:89246001518" class="phone linked">+7 (924) 600-15-18</a>
            </div>
        </div>
    </div>
</header>

<section class="s-main">
    <div class="container">
        <div class="s-main-head">
            <h1 class="h1">Получайте звонки и заявки <br>на ваши товары и услуги</h1>
            <p><s>от 400 руб. за ед.</s><br> </p><h1 style="color: #FF7800; font-family:  MullerBold,sans-serif;font-size: 50px;">только в сентябре, от 300р за лид!</h1>
        </div>
        <div class="s-main-content">
            <div class="row">
                <div class="col-lg-8" data-aos="flip-left">
                    <div class="image">
                        <iframe class="plaza-frame" src="https://www.youtube.com/embed/-Ii03p_yN58?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
                
                <div class="col-lg-4" data-aos="flip-left">
                    <div class="form form-head" >
                        <h3 class="h3 tl-center">3 места на сентябрь</h3>
                        <form action="/formRequest/topSend.php" class="form-topSend">
                            <div class="form-row">
                                <input type="text" name="name" class="form-input" placeholder="ИМЯ">
                            </div>
                            <div class="form-row">
                                <input type="text" name="phoneEmail" class="form-input" placeholder="e-mail или телефон">
                            </div>
                            <div class="form-row">
                                <input type="hidden" name="pirate">
                                <div class="response_error"></div>
                                <div class="response_ok"></div>
                                <button type="submit" class="btn btn--orange">получить лиды</button>
                            </div>
                            <p class="form-copyright">Нажимая кнопку «Получить лиды» вы даете <a href="#">согласие на обработку персональных данных</a>.</p>
                            <!-- <div class="date">
                                <img src="/img/number.png" alt="alt">
                                <span class="date-text">места на сентябрь</span>
                            </div> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="work">
    <div class="container">
        <h2 class="h1 h1--white tl-center" style="margin-top: 170px;">Работаем только <br>за результат — лиды</h2>
        <div class="row justify-content-between">
            <div class="col-lg-6" data-aos="fade-up">
                <div class="work-item">
                    <img src="/img/features-1.png" alt="alt">
                    <div class="work-item__content">
                        <div class="work-item__head">Оплачивайте только за заявки</div>
                        <p>Вы оплачиваете только за целевые заявки и звонки, наша компания специализируется именно на привлечении Лидов для средних и крупных компаний.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up">
                <div class="work-item">
                    <img src="/img/features-2.png" alt="alt">
                    <div class="work-item__content">
                        <div class="work-item__head">Берем расходы на себя</div>
                        <p>Мы комплексно делаем вам рекламный трафик, сайт и платим за это все сами, вы оплачиваете только цену за заявку/звонок.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="garantee">
    <div class="container">
        <h2 class="h1 h1--dark tl-center">Гарантия 100%</h2>
        <div class="row">
            <div class="col-lg-4" data-aos="fade-down">
                <div class="garantee-item">
                    <div class="garantee-item__img">
                        <img src="/img/guarantees-1.png" alt="alt">
                    </div>
                    <div class="garantee-item__head">Гарантия возврата денег</div>
                    <p>Сделали вам результат, взяли от вас деньги. Если мы не справимся и не сделаем вам результат мы вернем вам деньги. </p>
                </div>
            </div>
            <div class="col-lg-4" data-aos="fade-down">
                <div class="garantee-item garantee-item--second">
                    <div class="garantee-item__img">
                        <img src="/img/guarantees-2.png" alt="alt">
                    </div>
                    <div class="garantee-item__head">CRM-система в подарок</div>
                    <p>Вы получаете в подарок ЦРМ систему в которую вам будут складываться заявки, фиксироваться звонки, вы сможете вести и учитывать их в этой системе </p>
                </div>
            </div>
            <div class="col-lg-4" data-aos="fade-down">
                <div class="garantee-item garantee-item--third">
                    <div class="garantee-item__img">
                        <img src="/img/guarantees-3.png" alt="alt">
                    </div>
                    <div class="garantee-item__head">Это легко</div>
                    <p>Это легко — вы платите тольео за целевые лиды. </p>
                </div>
            </div>
        </div>
        <div class="quote">
            <p>Работайте со своими клиентами в удовольствие,<br> радуйтесь своему делу, а привлечение новых клиентов<br> мы возьмем на себя. </p>
            <img src="/img/quotes.png" alt="alt">
        </div>
    </div>
</section>

<section class="business">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="h1 h1--dark" data-aos="fade-right">Получите расчет лидов для вашей сферы бизнеса</h2>
            </div>
            <div class="col-lg-6">
                <div class="form-business" data-aos="fade-left">
                    <form action="/formRequest/business.php" class="form-business-plaza">
                        <div class="form-row">
                            <input type="text" name="business" class="form-input" placeholder="ваша сфера бизнеса">
                        </div>
                        <div class="form-row">
                            <input type="text" name="good" class="form-input" placeholder="Что необхдимо продать">
                        </div>
                        <div class="form-row">
                            <input type="text" name="region" class="form-input" placeholder="регион продаж">
                        </div>
                        <div class="form-row">
                            <input type="text" name="phone" class="form-input" placeholder="ваш телефон">
                        </div>
                        <div class="form-row">
                            <div class="response_error"></div>
                            <div class="response_ok"></div>
                            <input type="hidden" name="pirate">
                            <button type="submit" class="btn btn--orange">расчитать лиды</button>
                        </div>
                        <p class="form-copyright">Нажимая кнопку «Получить лиды» вы даете <a href="#">согласие на обработку персональных данных</a>.</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="caise">
    <div class="container">
        <h2 class="h1 tl-center">Наши кейсы</h2>
        <div class="caise-slider">
            <div class="caise-slider__wrap">
                <div class="caise-slider__item first">
                    <div class="flex-center">
                        <img src="/img/ipo.png" alt="alt">
                        <div class="caise-slider__item-head">«Иркутск Пром Оборудование»</div>
                    </div>
                    <div class="caise-slider__item-total">Производство оборудования</div>
                </div>
                <div class="caise-slider__item">
                    <div class="caise-slider__item-num">162 017</div>
                    <div class="caise-slider__item-total">Переходов на сайт</div>
                </div>
                <div class="caise-slider__item">
                    <div class="caise-slider__item-num">17 183</div>
                    <div class="caise-slider__item-total">Обращений в офис</div>
                </div>
                <div class="caise-slider__item">
                    <div class="caise-slider__item-num">1598</div>
                    <div class="caise-slider__item-total">Продаж</div>
                </div>
                <div class="caise-slider__item">
                    <div class="caise-slider__item-num">162 017</div>
                    <div class="caise-slider__item-total">Переходов на сайт</div>
                </div>
            </div>
            <div class="caise-slider__nav">
					<span class="caise-slider__prev">
						<img src="/img/arrow-big.svg" alt="alt">
					</span>
                <span class="caise-slider__next">
						<img src="/img/arrow-big.svg" alt="alt">
					</span>
            </div>
        </div>
    </div>
</section>

<section class="about">
    <div class="container">
        <h2 class="h1 tl-center h1--dark">О компании</h2>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="about-item">
                    <div class="about-item__num">1</div>
                    <p>место по лидогенерации в регионе</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="about-item">
                    <div class="about-item__num">12</div>
                    <p>лет на рынке интернет-рекламы</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="about-item">
                    <div class="about-item__num">>3000</div>
                    <p>рекламных кампаний</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="about-item">
                    <div class="about-item__num">20</div>
                    <p>работаем в 20 регионах России</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="about-item">
                    <div class="about-item__img">
                        <img src="/img/about-1.png" alt="alt">
                    </div>
                    <p>результат по договору</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="about-item">
                    <div class="about-item__img">
                        <img src="/img/about-2.png" alt="alt">
                    </div>
                    <p>профессиональная команда</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="about-item">
                    <div class="about-item__img">
                        <img src="/img/about-1.png" alt="alt">
                    </div>
                    <p>прозрачная статистика</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="about-item">
                    <div class="about-item__img">
                        <img src="/img/about-1.png" alt="alt">
                    </div>
                    <p>только работающие методы рекламы</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="get">
    <div class="container">
        <h2 class="h1 h1--white tl-center">Получите лиды с гарантией</h2>
        <form action="/formRequest/downSend.php" class="form form-get form-downSend">
            <div class="form-line form-row">
                <div class="response_error"></div>
                <div class="response_ok"></div>
            </div>

            <div class="form-line form-row">
                <div class="form-item" data-aos="fade-up" data-aos-offset="0">
                    <input type="text" name="name" class="form-input form-input--line" placeholder="ИМЯ">
                </div>
                <div class="form-item" data-aos="fade-up" data-aos-delay="200" data-aos-offset="0">
                    <input type="text" name="phone" class="form-input form-input--line" placeholder="телефон">
                </div>
                <div class="form-item" data-aos="fade-up" data-aos-delay="300" data-aos-offset="0">
                    <input type="text" name="email" class="form-input form-input--line" placeholder="e-mail">
                </div>
                <div class="form-item" data-aos="fade-up" data-aos-delay="400" data-aos-offset="0">
                    <input type="hidden" name="pirate">
                    <button type="submit" class="btn btn--orange">получить лиды</button>
                </div>
            </div>
            <p class="form-copyright white">Нажимая кнопку «Получить лиды» вы даете <a href="#">согласие на обработку персональных данных</a>.</p>
        </form>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-auto">
                <a href="tel:+7(3952)505911" class="phone phone--footer linked">+7 (3952) 505-911</a>
                <a href="mailto:mail@in-site.ru" class="mail linked">mail@in-site.ru</a>
                <span class="adress">Иркутск, Поленова, 1/1, оф. 109 </span>
            </div>
            <div class="col-auto">
                <ul class="socials">
                    <li><a href="https://m.facebook.com/insite.irk/" target="_blank"><img src="/img/fb.png" alt="alt"></a></li>
                    <li><a href="https://vk.com/insiteirk" target="_blank"><img src="/img/tw.png" alt="alt"></a></li>
                    <li><a href="#" target="_blank"><img src="/img/tel.png" alt="alt"></a></li>
                    <li><a href="https://www.instagram.com/insite_web_company/" target="_blank"><img src="/img/insta.png" alt="alt"></a></li>
                </ul>
                <p class="copyright">
                    <span>Copyright © 2003-2018 ООО</span>
                    <span>«ИнСайт».</span>
                    <span>Все права защищены.</span>
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- Custom HTML -->

<script src="/js/scripts.min.js"></script>
<script src="/js/fb.js"></script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter50236816 = new Ya.Metrika2({
                    id:50236816,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/tag.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks2");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/50236816" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-125408161-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-125408161-1');
</script>
</body>
</html>
